--
-- PostgreSQL database dump
--

\restrict rWmVsgXi1iMZO7i5sgVrhS8Ne6hnvcJWzUpSdKZlhPiGek8Qc5KR9TeL8MJtpQN

-- Dumped from database version 15.17 (Debian 15.17-1.pgdg13+1)
-- Dumped by pg_dump version 15.17 (Debian 15.17-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: learningapp
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO learningapp;

--
-- Name: assessments; Type: TABLE; Schema: public; Owner: learningapp
--

CREATE TABLE public.assessments (
    "assessmentID" integer NOT NULL,
    name text NOT NULL,
    description text NOT NULL,
    delivery_method text NOT NULL,
    delivery_location text NOT NULL,
    duration double precision NOT NULL,
    "manager_ID" integer NOT NULL,
    max_score integer NOT NULL,
    passing_score integer NOT NULL,
    expiry integer
);


ALTER TABLE public.assessments OWNER TO learningapp;

--
-- Name: assessments_assessmentID_seq; Type: SEQUENCE; Schema: public; Owner: learningapp
--

CREATE SEQUENCE public."assessments_assessmentID_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."assessments_assessmentID_seq" OWNER TO learningapp;

--
-- Name: assessments_assessmentID_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: learningapp
--

ALTER SEQUENCE public."assessments_assessmentID_seq" OWNED BY public.assessments."assessmentID";


--
-- Name: courses; Type: TABLE; Schema: public; Owner: learningapp
--

CREATE TABLE public.courses (
    "courseID" integer NOT NULL,
    "courseName" text NOT NULL,
    description text,
    delivery_method text,
    delivery_location text,
    duration double precision NOT NULL,
    "courseManagerID" integer NOT NULL
);


ALTER TABLE public.courses OWNER TO learningapp;

--
-- Name: courses_courseID_seq; Type: SEQUENCE; Schema: public; Owner: learningapp
--

CREATE SEQUENCE public."courses_courseID_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."courses_courseID_seq" OWNER TO learningapp;

--
-- Name: courses_courseID_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: learningapp
--

ALTER SEQUENCE public."courses_courseID_seq" OWNED BY public.courses."courseID";


--
-- Name: employees; Type: TABLE; Schema: public; Owner: learningapp
--

CREATE TABLE public.employees (
    "employeeID" integer NOT NULL,
    username text NOT NULL,
    role text NOT NULL,
    email text NOT NULL,
    password text NOT NULL
);


ALTER TABLE public.employees OWNER TO learningapp;

--
-- Name: employees_assessments; Type: TABLE; Schema: public; Owner: learningapp
--

CREATE TABLE public.employees_assessments (
    "employee_assessmentID" integer NOT NULL,
    "employeeID" integer NOT NULL,
    "assessmentID" integer NOT NULL,
    "currentStatus" text,
    "recordDate" text NOT NULL,
    "accreditationDate" text,
    "completionDate" text,
    score integer
);


ALTER TABLE public.employees_assessments OWNER TO learningapp;

--
-- Name: employees_assessments_employee_assessmentID_seq; Type: SEQUENCE; Schema: public; Owner: learningapp
--

CREATE SEQUENCE public."employees_assessments_employee_assessmentID_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."employees_assessments_employee_assessmentID_seq" OWNER TO learningapp;

--
-- Name: employees_assessments_employee_assessmentID_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: learningapp
--

ALTER SEQUENCE public."employees_assessments_employee_assessmentID_seq" OWNED BY public.employees_assessments."employee_assessmentID";


--
-- Name: employees_courses; Type: TABLE; Schema: public; Owner: learningapp
--

CREATE TABLE public.employees_courses (
    "employee_courseID" integer NOT NULL,
    "employeeID" integer NOT NULL,
    "courseID" integer NOT NULL,
    "currentStatus" text NOT NULL,
    "recordDate" text NOT NULL,
    "completionDate" text,
    score integer
);


ALTER TABLE public.employees_courses OWNER TO learningapp;

--
-- Name: employees_courses_employee_courseID_seq; Type: SEQUENCE; Schema: public; Owner: learningapp
--

CREATE SEQUENCE public."employees_courses_employee_courseID_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."employees_courses_employee_courseID_seq" OWNER TO learningapp;

--
-- Name: employees_courses_employee_courseID_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: learningapp
--

ALTER SEQUENCE public."employees_courses_employee_courseID_seq" OWNED BY public.employees_courses."employee_courseID";


--
-- Name: employees_employeeID_seq; Type: SEQUENCE; Schema: public; Owner: learningapp
--

CREATE SEQUENCE public."employees_employeeID_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."employees_employeeID_seq" OWNER TO learningapp;

--
-- Name: employees_employeeID_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: learningapp
--

ALTER SEQUENCE public."employees_employeeID_seq" OWNED BY public.employees."employeeID";


--
-- Name: employees_experiences; Type: TABLE; Schema: public; Owner: learningapp
--

CREATE TABLE public.employees_experiences (
    "employee_experienceID" integer NOT NULL,
    "experience_templateID" integer,
    "experienceDescription" text NOT NULL,
    duration double precision NOT NULL,
    "recordDate" text NOT NULL,
    "employeeID" integer NOT NULL,
    "employeeText" text,
    "refereeID" integer,
    "refereeText" text
);


ALTER TABLE public.employees_experiences OWNER TO learningapp;

--
-- Name: employees_experiences_employee_experienceID_seq; Type: SEQUENCE; Schema: public; Owner: learningapp
--

CREATE SEQUENCE public."employees_experiences_employee_experienceID_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."employees_experiences_employee_experienceID_seq" OWNER TO learningapp;

--
-- Name: employees_experiences_employee_experienceID_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: learningapp
--

ALTER SEQUENCE public."employees_experiences_employee_experienceID_seq" OWNED BY public.employees_experiences."employee_experienceID";


--
-- Name: experience_templates; Type: TABLE; Schema: public; Owner: learningapp
--

CREATE TABLE public.experience_templates (
    "experience_templateID" integer NOT NULL,
    "experienceDescription" text NOT NULL,
    "minimumDuration" double precision NOT NULL
);


ALTER TABLE public.experience_templates OWNER TO learningapp;

--
-- Name: experience_templates_experience_templateID_seq; Type: SEQUENCE; Schema: public; Owner: learningapp
--

CREATE SEQUENCE public."experience_templates_experience_templateID_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."experience_templates_experience_templateID_seq" OWNER TO learningapp;

--
-- Name: experience_templates_experience_templateID_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: learningapp
--

ALTER SEQUENCE public."experience_templates_experience_templateID_seq" OWNED BY public.experience_templates."experience_templateID";


--
-- Name: feedback; Type: TABLE; Schema: public; Owner: learningapp
--

CREATE TABLE public.feedback (
    "feedbackID" integer NOT NULL,
    "refererID" integer NOT NULL,
    "refereeID" integer NOT NULL,
    "employee_experienceID" integer NOT NULL,
    actioned boolean DEFAULT false NOT NULL
);


ALTER TABLE public.feedback OWNER TO learningapp;

--
-- Name: feedback_feedbackID_seq; Type: SEQUENCE; Schema: public; Owner: learningapp
--

CREATE SEQUENCE public."feedback_feedbackID_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."feedback_feedbackID_seq" OWNER TO learningapp;

--
-- Name: feedback_feedbackID_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: learningapp
--

ALTER SEQUENCE public."feedback_feedbackID_seq" OWNED BY public.feedback."feedbackID";


--
-- Name: pathways; Type: TABLE; Schema: public; Owner: learningapp
--

CREATE TABLE public.pathways (
    "pathwayID" integer NOT NULL,
    "pathwayName" text NOT NULL,
    "pathwayDescription" text NOT NULL,
    "pathwayManagerID" integer NOT NULL,
    enrollment_status text,
    some_numeric_value integer,
    record_date timestamp(3) without time zone
);


ALTER TABLE public.pathways OWNER TO learningapp;

--
-- Name: pathways_assessments; Type: TABLE; Schema: public; Owner: learningapp
--

CREATE TABLE public.pathways_assessments (
    "pathway_assessmentID" integer NOT NULL,
    "pathwayID" integer,
    "assessmentID" integer NOT NULL
);


ALTER TABLE public.pathways_assessments OWNER TO learningapp;

--
-- Name: pathways_assessments_pathway_assessmentID_seq; Type: SEQUENCE; Schema: public; Owner: learningapp
--

CREATE SEQUENCE public."pathways_assessments_pathway_assessmentID_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."pathways_assessments_pathway_assessmentID_seq" OWNER TO learningapp;

--
-- Name: pathways_assessments_pathway_assessmentID_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: learningapp
--

ALTER SEQUENCE public."pathways_assessments_pathway_assessmentID_seq" OWNED BY public.pathways_assessments."pathway_assessmentID";


--
-- Name: pathways_courses; Type: TABLE; Schema: public; Owner: learningapp
--

CREATE TABLE public.pathways_courses (
    "pathway_courseID" integer NOT NULL,
    "pathwayID" integer,
    "courseID" integer NOT NULL
);


ALTER TABLE public.pathways_courses OWNER TO learningapp;

--
-- Name: pathways_courses_pathway_courseID_seq; Type: SEQUENCE; Schema: public; Owner: learningapp
--

CREATE SEQUENCE public."pathways_courses_pathway_courseID_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."pathways_courses_pathway_courseID_seq" OWNER TO learningapp;

--
-- Name: pathways_courses_pathway_courseID_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: learningapp
--

ALTER SEQUENCE public."pathways_courses_pathway_courseID_seq" OWNED BY public.pathways_courses."pathway_courseID";


--
-- Name: pathways_employees; Type: TABLE; Schema: public; Owner: learningapp
--

CREATE TABLE public.pathways_employees (
    "pathway_employeeID" integer NOT NULL,
    "pathwayID" integer,
    "employeeID" integer NOT NULL,
    "recordDate" text NOT NULL
);


ALTER TABLE public.pathways_employees OWNER TO learningapp;

--
-- Name: pathways_employees_pathway_employeeID_seq; Type: SEQUENCE; Schema: public; Owner: learningapp
--

CREATE SEQUENCE public."pathways_employees_pathway_employeeID_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."pathways_employees_pathway_employeeID_seq" OWNER TO learningapp;

--
-- Name: pathways_employees_pathway_employeeID_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: learningapp
--

ALTER SEQUENCE public."pathways_employees_pathway_employeeID_seq" OWNED BY public.pathways_employees."pathway_employeeID";


--
-- Name: pathways_experience_templates; Type: TABLE; Schema: public; Owner: learningapp
--

CREATE TABLE public.pathways_experience_templates (
    "pathway_experience_templateID" integer NOT NULL,
    "pathwayID" integer,
    "experience_templateID" integer NOT NULL
);


ALTER TABLE public.pathways_experience_templates OWNER TO learningapp;

--
-- Name: pathways_experience_templates_pathway_experience_templateID_seq; Type: SEQUENCE; Schema: public; Owner: learningapp
--

CREATE SEQUENCE public."pathways_experience_templates_pathway_experience_templateID_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."pathways_experience_templates_pathway_experience_templateID_seq" OWNER TO learningapp;

--
-- Name: pathways_experience_templates_pathway_experience_templateID_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: learningapp
--

ALTER SEQUENCE public."pathways_experience_templates_pathway_experience_templateID_seq" OWNED BY public.pathways_experience_templates."pathway_experience_templateID";


--
-- Name: pathways_pathwayID_seq; Type: SEQUENCE; Schema: public; Owner: learningapp
--

CREATE SEQUENCE public."pathways_pathwayID_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."pathways_pathwayID_seq" OWNER TO learningapp;

--
-- Name: pathways_pathwayID_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: learningapp
--

ALTER SEQUENCE public."pathways_pathwayID_seq" OWNED BY public.pathways."pathwayID";


--
-- Name: assessments assessmentID; Type: DEFAULT; Schema: public; Owner: learningapp
--

ALTER TABLE ONLY public.assessments ALTER COLUMN "assessmentID" SET DEFAULT nextval('public."assessments_assessmentID_seq"'::regclass);


--
-- Name: courses courseID; Type: DEFAULT; Schema: public; Owner: learningapp
--

ALTER TABLE ONLY public.courses ALTER COLUMN "courseID" SET DEFAULT nextval('public."courses_courseID_seq"'::regclass);


--
-- Name: employees employeeID; Type: DEFAULT; Schema: public; Owner: learningapp
--

ALTER TABLE ONLY public.employees ALTER COLUMN "employeeID" SET DEFAULT nextval('public."employees_employeeID_seq"'::regclass);


--
-- Name: employees_assessments employee_assessmentID; Type: DEFAULT; Schema: public; Owner: learningapp
--

ALTER TABLE ONLY public.employees_assessments ALTER COLUMN "employee_assessmentID" SET DEFAULT nextval('public."employees_assessments_employee_assessmentID_seq"'::regclass);


--
-- Name: employees_courses employee_courseID; Type: DEFAULT; Schema: public; Owner: learningapp
--

ALTER TABLE ONLY public.employees_courses ALTER COLUMN "employee_courseID" SET DEFAULT nextval('public."employees_courses_employee_courseID_seq"'::regclass);


--
-- Name: employees_experiences employee_experienceID; Type: DEFAULT; Schema: public; Owner: learningapp
--

ALTER TABLE ONLY public.employees_experiences ALTER COLUMN "employee_experienceID" SET DEFAULT nextval('public."employees_experiences_employee_experienceID_seq"'::regclass);


--
-- Name: experience_templates experience_templateID; Type: DEFAULT; Schema: public; Owner: learningapp
--

ALTER TABLE ONLY public.experience_templates ALTER COLUMN "experience_templateID" SET DEFAULT nextval('public."experience_templates_experience_templateID_seq"'::regclass);


--
-- Name: feedback feedbackID; Type: DEFAULT; Schema: public; Owner: learningapp
--

ALTER TABLE ONLY public.feedback ALTER COLUMN "feedbackID" SET DEFAULT nextval('public."feedback_feedbackID_seq"'::regclass);


--
-- Name: pathways pathwayID; Type: DEFAULT; Schema: public; Owner: learningapp
--

ALTER TABLE ONLY public.pathways ALTER COLUMN "pathwayID" SET DEFAULT nextval('public."pathways_pathwayID_seq"'::regclass);


--
-- Name: pathways_assessments pathway_assessmentID; Type: DEFAULT; Schema: public; Owner: learningapp
--

ALTER TABLE ONLY public.pathways_assessments ALTER COLUMN "pathway_assessmentID" SET DEFAULT nextval('public."pathways_assessments_pathway_assessmentID_seq"'::regclass);


--
-- Name: pathways_courses pathway_courseID; Type: DEFAULT; Schema: public; Owner: learningapp
--

ALTER TABLE ONLY public.pathways_courses ALTER COLUMN "pathway_courseID" SET DEFAULT nextval('public."pathways_courses_pathway_courseID_seq"'::regclass);


--
-- Name: pathways_employees pathway_employeeID; Type: DEFAULT; Schema: public; Owner: learningapp
--

ALTER TABLE ONLY public.pathways_employees ALTER COLUMN "pathway_employeeID" SET DEFAULT nextval('public."pathways_employees_pathway_employeeID_seq"'::regclass);


--
-- Name: pathways_experience_templates pathway_experience_templateID; Type: DEFAULT; Schema: public; Owner: learningapp
--

ALTER TABLE ONLY public.pathways_experience_templates ALTER COLUMN "pathway_experience_templateID" SET DEFAULT nextval('public."pathways_experience_templates_pathway_experience_templateID_seq"'::regclass);


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: learningapp
--



--
-- Data for Name: assessments; Type: TABLE DATA; Schema: public; Owner: learningapp
--



--
-- Data for Name: courses; Type: TABLE DATA; Schema: public; Owner: learningapp
--



--
-- Data for Name: employees; Type: TABLE DATA; Schema: public; Owner: learningapp
--



--
-- Data for Name: employees_assessments; Type: TABLE DATA; Schema: public; Owner: learningapp
--



--
-- Data for Name: employees_courses; Type: TABLE DATA; Schema: public; Owner: learningapp
--



--
-- Data for Name: employees_experiences; Type: TABLE DATA; Schema: public; Owner: learningapp
--



--
-- Data for Name: experience_templates; Type: TABLE DATA; Schema: public; Owner: learningapp
--



--
-- Data for Name: feedback; Type: TABLE DATA; Schema: public; Owner: learningapp
--

COPY public.feedback ("feedbackID", "refererID", "refereeID", "employee_experienceID", actioned) FROM stdin;
\.


--
-- Data for Name: pathways; Type: TABLE DATA; Schema: public; Owner: learningapp
--



--
-- Data for Name: pathways_assessments; Type: TABLE DATA; Schema: public; Owner: learningapp
--

COPY public.pathways_assessments ("pathway_assessmentID", "pathwayID", "assessmentID") FROM stdin;
1	2	4
2	2	3
3	2	5
4	4	6
5	4	7
6	4	10
7	4	9
8	4	8
9	6	4
10	6	3
11	6	5
\.


--
-- Data for Name: pathways_courses; Type: TABLE DATA; Schema: public; Owner: learningapp
--

COPY public.pathways_courses ("pathway_courseID", "pathwayID", "courseID") FROM stdin;
1	1	1
2	1	2
3	2	1
4	2	2
5	3	3
6	4	4
7	4	6
8	4	7
9	4	5
10	5	10
11	5	9
12	5	8
13	6	1
14	6	2
15	7	11
16	6	11
\.


--
-- Data for Name: pathways_employees; Type: TABLE DATA; Schema: public; Owner: learningapp
--

COPY public.pathways_employees ("pathway_employeeID", "pathwayID", "employeeID", "recordDate") FROM stdin;
1	1	3	2026-03-22
2	2	3	2026-03-22
3	3	3	2026-03-22
4	4	3	2026-03-22
5	5	3	2026-03-22
6	6	10	2026-03-22
7	6	7	2026-03-22
8	4	8	2026-03-22
9	5	8	2026-03-22
10	1	8	2026-03-22
11	2	8	2026-03-22
\.


--
-- Data for Name: pathways_experience_templates; Type: TABLE DATA; Schema: public; Owner: learningapp
--

COPY public.pathways_experience_templates ("pathway_experience_templateID", "pathwayID", "experience_templateID") FROM stdin;
1	2	1
2	2	2
3	2	3
4	2	4
5	2	5
6	2	6
7	2	7
8	2	8
9	2	9
10	2	10
11	2	11
12	2	12
13	2	13
14	2	14
15	6	1
16	6	2
17	6	3
18	6	4
19	6	5
20	6	6
21	6	7
22	6	8
23	6	9
24	6	10
25	6	11
26	6	12
27	6	13
28	6	14
30	7	16
31	7	17
32	6	18
33	6	19
34	6	20
35	6	16
36	6	17
\.


--
-- Name: assessments_assessmentID_seq; Type: SEQUENCE SET; Schema: public; Owner: learningapp
--

SELECT pg_catalog.setval('public."assessments_assessmentID_seq"', 10, true);


--
-- Name: courses_courseID_seq; Type: SEQUENCE SET; Schema: public; Owner: learningapp
--

SELECT pg_catalog.setval('public."courses_courseID_seq"', 11, true);


--
-- Name: employees_assessments_employee_assessmentID_seq; Type: SEQUENCE SET; Schema: public; Owner: learningapp
--

SELECT pg_catalog.setval('public."employees_assessments_employee_assessmentID_seq"', 22, true);


--
-- Name: employees_courses_employee_courseID_seq; Type: SEQUENCE SET; Schema: public; Owner: learningapp
--

SELECT pg_catalog.setval('public."employees_courses_employee_courseID_seq"', 25, true);


--
-- Name: employees_employeeID_seq; Type: SEQUENCE SET; Schema: public; Owner: learningapp
--

SELECT pg_catalog.setval('public."employees_employeeID_seq"', 15, true);


--
-- Name: employees_experiences_employee_experienceID_seq; Type: SEQUENCE SET; Schema: public; Owner: learningapp
--

SELECT pg_catalog.setval('public."employees_experiences_employee_experienceID_seq"', 66, true);


--
-- Name: experience_templates_experience_templateID_seq; Type: SEQUENCE SET; Schema: public; Owner: learningapp
--

SELECT pg_catalog.setval('public."experience_templates_experience_templateID_seq"', 20, true);


--
-- Name: feedback_feedbackID_seq; Type: SEQUENCE SET; Schema: public; Owner: learningapp
--

SELECT pg_catalog.setval('public."feedback_feedbackID_seq"', 1, false);


--
-- Name: pathways_assessments_pathway_assessmentID_seq; Type: SEQUENCE SET; Schema: public; Owner: learningapp
--

SELECT pg_catalog.setval('public."pathways_assessments_pathway_assessmentID_seq"', 11, true);


--
-- Name: pathways_courses_pathway_courseID_seq; Type: SEQUENCE SET; Schema: public; Owner: learningapp
--

SELECT pg_catalog.setval('public."pathways_courses_pathway_courseID_seq"', 16, true);


--
-- Name: pathways_employees_pathway_employeeID_seq; Type: SEQUENCE SET; Schema: public; Owner: learningapp
--

SELECT pg_catalog.setval('public."pathways_employees_pathway_employeeID_seq"', 11, true);


--
-- Name: pathways_experience_templates_pathway_experience_templateID_seq; Type: SEQUENCE SET; Schema: public; Owner: learningapp
--

SELECT pg_catalog.setval('public."pathways_experience_templates_pathway_experience_templateID_seq"', 36, true);


--
-- Name: pathways_pathwayID_seq; Type: SEQUENCE SET; Schema: public; Owner: learningapp
--

SELECT pg_catalog.setval('public."pathways_pathwayID_seq"', 7, true);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: learningapp
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: assessments assessments_pkey; Type: CONSTRAINT; Schema: public; Owner: learningapp
--

ALTER TABLE ONLY public.assessments
    ADD CONSTRAINT assessments_pkey PRIMARY KEY ("assessmentID");


--
-- Name: courses courses_pkey; Type: CONSTRAINT; Schema: public; Owner: learningapp
--

ALTER TABLE ONLY public.courses
    ADD CONSTRAINT courses_pkey PRIMARY KEY ("courseID");


--
-- Name: employees_assessments employees_assessments_pkey; Type: CONSTRAINT; Schema: public; Owner: learningapp
--

ALTER TABLE ONLY public.employees_assessments
    ADD CONSTRAINT employees_assessments_pkey PRIMARY KEY ("employee_assessmentID");


--
-- Name: employees_courses employees_courses_pkey; Type: CONSTRAINT; Schema: public; Owner: learningapp
--

ALTER TABLE ONLY public.employees_courses
    ADD CONSTRAINT employees_courses_pkey PRIMARY KEY ("employee_courseID");


--
-- Name: employees_experiences employees_experiences_pkey; Type: CONSTRAINT; Schema: public; Owner: learningapp
--

ALTER TABLE ONLY public.employees_experiences
    ADD CONSTRAINT employees_experiences_pkey PRIMARY KEY ("employee_experienceID");


--
-- Name: employees employees_pkey; Type: CONSTRAINT; Schema: public; Owner: learningapp
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT employees_pkey PRIMARY KEY ("employeeID");


--
-- Name: experience_templates experience_templates_pkey; Type: CONSTRAINT; Schema: public; Owner: learningapp
--

ALTER TABLE ONLY public.experience_templates
    ADD CONSTRAINT experience_templates_pkey PRIMARY KEY ("experience_templateID");


--
-- Name: feedback feedback_pkey; Type: CONSTRAINT; Schema: public; Owner: learningapp
--

ALTER TABLE ONLY public.feedback
    ADD CONSTRAINT feedback_pkey PRIMARY KEY ("feedbackID");


--
-- Name: pathways_assessments pathways_assessments_pkey; Type: CONSTRAINT; Schema: public; Owner: learningapp
--

ALTER TABLE ONLY public.pathways_assessments
    ADD CONSTRAINT pathways_assessments_pkey PRIMARY KEY ("pathway_assessmentID");


--
-- Name: pathways_courses pathways_courses_pkey; Type: CONSTRAINT; Schema: public; Owner: learningapp
--

ALTER TABLE ONLY public.pathways_courses
    ADD CONSTRAINT pathways_courses_pkey PRIMARY KEY ("pathway_courseID");


--
-- Name: pathways_employees pathways_employees_pkey; Type: CONSTRAINT; Schema: public; Owner: learningapp
--

ALTER TABLE ONLY public.pathways_employees
    ADD CONSTRAINT pathways_employees_pkey PRIMARY KEY ("pathway_employeeID");


--
-- Name: pathways_experience_templates pathways_experience_templates_pkey; Type: CONSTRAINT; Schema: public; Owner: learningapp
--

ALTER TABLE ONLY public.pathways_experience_templates
    ADD CONSTRAINT pathways_experience_templates_pkey PRIMARY KEY ("pathway_experience_templateID");


--
-- Name: pathways pathways_pkey; Type: CONSTRAINT; Schema: public; Owner: learningapp
--

ALTER TABLE ONLY public.pathways
    ADD CONSTRAINT pathways_pkey PRIMARY KEY ("pathwayID");


--
-- Name: assessments assessments_manager_ID_fkey; Type: FK CONSTRAINT; Schema: public; Owner: learningapp
--

ALTER TABLE ONLY public.assessments
    ADD CONSTRAINT "assessments_manager_ID_fkey" FOREIGN KEY ("manager_ID") REFERENCES public.employees("employeeID") ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: courses courses_courseManagerID_fkey; Type: FK CONSTRAINT; Schema: public; Owner: learningapp
--

ALTER TABLE ONLY public.courses
    ADD CONSTRAINT "courses_courseManagerID_fkey" FOREIGN KEY ("courseManagerID") REFERENCES public.employees("employeeID") ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: employees_assessments employees_assessments_assessmentID_fkey; Type: FK CONSTRAINT; Schema: public; Owner: learningapp
--

ALTER TABLE ONLY public.employees_assessments
    ADD CONSTRAINT "employees_assessments_assessmentID_fkey" FOREIGN KEY ("assessmentID") REFERENCES public.assessments("assessmentID") ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: employees_assessments employees_assessments_employeeID_fkey; Type: FK CONSTRAINT; Schema: public; Owner: learningapp
--

ALTER TABLE ONLY public.employees_assessments
    ADD CONSTRAINT "employees_assessments_employeeID_fkey" FOREIGN KEY ("employeeID") REFERENCES public.employees("employeeID") ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: employees_courses employees_courses_courseID_fkey; Type: FK CONSTRAINT; Schema: public; Owner: learningapp
--

ALTER TABLE ONLY public.employees_courses
    ADD CONSTRAINT "employees_courses_courseID_fkey" FOREIGN KEY ("courseID") REFERENCES public.courses("courseID") ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: employees_courses employees_courses_employeeID_fkey; Type: FK CONSTRAINT; Schema: public; Owner: learningapp
--

ALTER TABLE ONLY public.employees_courses
    ADD CONSTRAINT "employees_courses_employeeID_fkey" FOREIGN KEY ("employeeID") REFERENCES public.employees("employeeID") ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: employees_experiences employees_experiences_employeeID_fkey; Type: FK CONSTRAINT; Schema: public; Owner: learningapp
--

ALTER TABLE ONLY public.employees_experiences
    ADD CONSTRAINT "employees_experiences_employeeID_fkey" FOREIGN KEY ("employeeID") REFERENCES public.employees("employeeID") ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: employees_experiences employees_experiences_refereeID_fkey; Type: FK CONSTRAINT; Schema: public; Owner: learningapp
--

ALTER TABLE ONLY public.employees_experiences
    ADD CONSTRAINT "employees_experiences_refereeID_fkey" FOREIGN KEY ("refereeID") REFERENCES public.employees("employeeID") ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: pathways_assessments pathways_assessments_assessmentID_fkey; Type: FK CONSTRAINT; Schema: public; Owner: learningapp
--

ALTER TABLE ONLY public.pathways_assessments
    ADD CONSTRAINT "pathways_assessments_assessmentID_fkey" FOREIGN KEY ("assessmentID") REFERENCES public.assessments("assessmentID") ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: pathways_assessments pathways_assessments_pathwayID_fkey; Type: FK CONSTRAINT; Schema: public; Owner: learningapp
--

ALTER TABLE ONLY public.pathways_assessments
    ADD CONSTRAINT "pathways_assessments_pathwayID_fkey" FOREIGN KEY ("pathwayID") REFERENCES public.pathways("pathwayID") ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: pathways_courses pathways_courses_courseID_fkey; Type: FK CONSTRAINT; Schema: public; Owner: learningapp
--

ALTER TABLE ONLY public.pathways_courses
    ADD CONSTRAINT "pathways_courses_courseID_fkey" FOREIGN KEY ("courseID") REFERENCES public.courses("courseID") ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: pathways_courses pathways_courses_pathwayID_fkey; Type: FK CONSTRAINT; Schema: public; Owner: learningapp
--

ALTER TABLE ONLY public.pathways_courses
    ADD CONSTRAINT "pathways_courses_pathwayID_fkey" FOREIGN KEY ("pathwayID") REFERENCES public.pathways("pathwayID") ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: pathways_employees pathways_employees_employeeID_fkey; Type: FK CONSTRAINT; Schema: public; Owner: learningapp
--

ALTER TABLE ONLY public.pathways_employees
    ADD CONSTRAINT "pathways_employees_employeeID_fkey" FOREIGN KEY ("employeeID") REFERENCES public.employees("employeeID") ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: pathways_employees pathways_employees_pathwayID_fkey; Type: FK CONSTRAINT; Schema: public; Owner: learningapp
--

ALTER TABLE ONLY public.pathways_employees
    ADD CONSTRAINT "pathways_employees_pathwayID_fkey" FOREIGN KEY ("pathwayID") REFERENCES public.pathways("pathwayID") ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: pathways_experience_templates pathways_experience_templates_experience_templateID_fkey; Type: FK CONSTRAINT; Schema: public; Owner: learningapp
--

ALTER TABLE ONLY public.pathways_experience_templates
    ADD CONSTRAINT "pathways_experience_templates_experience_templateID_fkey" FOREIGN KEY ("experience_templateID") REFERENCES public.experience_templates("experience_templateID") ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: pathways_experience_templates pathways_experience_templates_pathwayID_fkey; Type: FK CONSTRAINT; Schema: public; Owner: learningapp
--

ALTER TABLE ONLY public.pathways_experience_templates
    ADD CONSTRAINT "pathways_experience_templates_pathwayID_fkey" FOREIGN KEY ("pathwayID") REFERENCES public.pathways("pathwayID") ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: pathways pathways_pathwayManagerID_fkey; Type: FK CONSTRAINT; Schema: public; Owner: learningapp
--

ALTER TABLE ONLY public.pathways
    ADD CONSTRAINT "pathways_pathwayManagerID_fkey" FOREIGN KEY ("pathwayManagerID") REFERENCES public.employees("employeeID") ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- PostgreSQL database dump complete
--

\unrestrict rWmVsgXi1iMZO7i5sgVrhS8Ne6hnvcJWzUpSdKZlhPiGek8Qc5KR9TeL8MJtpQN

